<div class="logo_mainbkgd">
	<span class="catagoryandtopic" >Assembling a Morse Code kit</span>
	</div> <!-- background -->

<div class = "slidearea">
	
	<div class="projects_title">Build a Morse Code Transmitter (ages 10+)</div>
	<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px; ">	
		You can use the items below to help you gather materials for the Morse Code Transmitter project. Feel free to substitute your own choices. We pulled this together because there are so many options to choose from in electronics, and it can be hard to figure out which ones are right for your project. We hope this helps to make the project more accessible!
	</div>

	<div class ="row-fluid" style="padding-bottom:10px; padding-top:10px;">
		<div class="span2">
			<div class="imageleftlarge" style="margin-left:20px">
					<%= link_to image_tag("projects_images/proj_morse.png", :class=>'navbuttons'), "ProjectMorseCodeCircuit.pdf"  %> 	
			</div>	<!-- class -->
		</div>
		<div class="span2">	
			<div class="energy_bkgd">
			<div class="projects_caption" >You Will Need:</div>
				<div class="projects_materials_needed">
					•	2 AA batteries<br>
					•	Battery holder<br>
					•	An LED<br>
					•	A resistor<br>
					•	Alligator clips <br>
					•	Cardstock<br>
					•	Paper<br>
					•	Tape<br>
					•	Foil<br>
					•	Breadboard (optional)<br>
					•	Wire stripper (optional)<br>
					•	Copper wire (optional)<br>
				</div> <!-- class matls needed -->
			</div> <!-- background -->
		</div> <!-- span 3 -->
		<div class="span8">You can order LEDs, Battery Holders, Resistors, and Alligator Clips through the links below. Look closely at the quantities. For example, there are 100 resistors in that item, but only 5 AA battery holders. For 15 Morse Code Transmitters (enough for a class of 30 working in pairs), order 3 of the battery holder item.<br><br>
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B00EFZV2OE&asins=B00EFZV2OE&linkId=ROS4WLARGOE3GT3H&show_border=false&link_opens_in_new_window=true">
			</iframe> 
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B00NQAIUPS&asins=B00NQAIUPS&linkId=LMFWKKQIOHHM5AL2&show_border=false&link_opens_in_new_window=true">
			</iframe>
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B00BVCCA90&asins=B00BVCCA90&linkId=4LLVTARE4HBCSLTR&show_border=false&link_opens_in_new_window=true">
			</iframe>
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B0002JJU28&asins=B0002JJU28&linkId=BH4P72STKUHRQO2D&show_border=false&link_opens_in_new_window=true">
			</iframe>
			<br><br>For the brave, do the project with breadboard, wire, wirestrippers. It's sometimes easier to pick out a good cheap wire stripper in person, but sometimes you can find cheap ones in stock on Amazon. Don't bother buying an expensive one.<br>
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B01258UZMC&asins=B01258UZMC&linkId=O4YR5CTL7FAFBOB2&show_border=false&link_opens_in_new_window=true">
			</iframe>
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B00IN834TU&asins=B00IN834TU&linkId=5YJHCGAMXUDCIY4X&show_border=false&link_opens_in_new_window=true">
			</iframe>
			<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=2025labs-20&marketplace=amazon&region=US&placement=B00FH6ST46&asins=B00FH6ST46&linkId=4E3ZL4AR5XBNS2WJ&show_border=false&link_opens_in_new_window=true">
			</iframe>
			
		</div>

	</div>

	


<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px; ">	

</div>
</div> <!-- slidearea -->