<div class="logo_mainbkgd">
	<span class="catagoryandtopic" >Available from 2025 Labs</span>
	<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
	<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %>
	</div> <!-- background -->

<div class = "slidearea">

	<div class ="row-fluid" style="padding-bottom:10px; padding-top:10px;">
		<div class="span3">
			<span class="mainpage_title">Products:</span>
		</div>
		<div class="span5">
			<span class="mainpage_title">Description:</span>
		</div>
		<div class="span4">
			<span class="mainpage_title">Availability and pricing:</span>
		</div>
	</div>

	<div class ="row-fluid" style="padding-bottom:20px; padding-top:10px; border-bottom: 1px solid #d9d9d9;">
		<div class="span3">
			<div class="imageleftlarge" style="margin-left:20px">
					<%= image_tag("projects_images/FrontPageImage.png", :class=>'navbuttons')  %> 		
			</div>	<!-- class -->
		</div> <!-- span4 -->
		<div class="span5">
				<div class="projects_title">2025 Kids Engineering in the News&#8482; Magazine</div>
				
				<div class="projects_description">Get kids engaged in engineering and how it is changing the world around us in this fun magazine. Available online and in print. <br></div> <!-- end projects description -->
				
				<div class="engineering_process_bkgd">
				<div class="projects_caption" >About this magazine:</div>
					<div class="projects_materials_needed">
						•	Engineering-focused magazine, written for kids 10+<br>
						•	Great for adults, too!<br>
						•	Current topics, new innovations, and discoveries<br>
						•	Projects every issue<br>
						•	Includes puzzles and activities<br>
						•	Loads of information about engineering in the world around us, and how things in our world work<br>
					</div> <!-- class matls needed -->
				</div> <!-- background -->
		</div> <!-- span 4 -->
		
		<div class="span4">	
			
				<div class="eitn_title">November Edition: "The Energy Issue"</div>This issue includes content such as energy sources around the world, how the electric grid works, topical news items related to solar energy and other renewables, and a fun circuits project to build a Morse Code transmitter - as well as other fun activities and puzzles. <br><br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="9HUWPEKXE9VEJ">
				<table>
				<tr><td><input type="hidden" name="on0" value="Copies">Copies:</td></tr><tr><td><select name="os0">
					<option value="1 copy">1 copy $4.95 USD</option>
					<option value="10 copies">10 copies $47.03 USD</option>
					<option value="20 copies">20 copies $89.10 USD</option>
					<option value="30 copies">30 copies $126.23 USD</option>
				</select> </td></tr>
				</table>
				<input type="hidden" name="currency_code" value="USD">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>

				
				
				<br>
				Or, with a subscription to online access, you can get a year's worth of access to all website content, including the online version of the magazine, games and more for only $9.99. Available in multi-user packs at a discount. <br>
				<div class="pricelist_item">
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="DQ2R6VJYCH82E">
<table>
<tr><td><input type="hidden" name="on0" value="Users, 1 year access">Users, 1 year access:</td></tr><tr><td><select name="os0">
	<option value="Single user">Single user $9.99 USD</option>
	<option value="10 users">10 users $90.00 USD</option>
	<option value="20 users">20 users $169.00 USD</option>
	<option value="30 users">30 users $240.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
			</div>
		</div> <!-- span 4 -->
		
 	</div> <!-- row -->

	


<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px; ">	

</div>
</div> <!-- slidearea -->