<div class = "slidearea">

	
	<div class="row-fluid">	
		<div class="span3">
			<h3 class="logocolor">featured video</h3>
			Did you ever wonder how things get invented? Like, how did anyone figure out how to make a car or an airplane? Learn more about how engineers build on past discoveries and inventions to create new technological breakthroughs.
			<br><br>
			
			<h3 class="logocolor">also check out</h3>
			do we want to highlight something else on the site?
			
		</div>
		<div class="span9">	
			
			<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/ozXquvURKlg" frameborder="0" allowfullscreen=""></iframe></div>
		</div>
	</div>
</div>













