<div class = "slidearea">
	<div class="row-fluid">	
		<div class="span8">
			<div class="logo_mainbkgd">
				<span class="catagoryandtopic" > featured video </span>
			</div>

			<div class="row-fluid">
				<div class = "span2">
					
					Did you ever wonder how things get invented? Like, how did anyone figure out how to make a car or an airplane? Watch this video to learn more about how engineers build on past discoveries and inventions to create new technological breakthroughs.	
				</div>
				
				<div class="span10" >	
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/ozXquvURKlg" frameborder="0" allowfullscreen=""></iframe></div>
				</div>
			</div>
		</div>


		<div class="span4">	
			<div class="logo_mainbkgd"> 
				<span class="catagoryandtopic" > engineering in the news</span>
				<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> 
			</div>
			
			<div class="eitn_title">Structures: Scraping the Sky</div>

			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			November 21, 2014
			<br><br>

			As engineers keep pushing the limits to make things taller, faster, stronger and better, they often have to develop new ideas to take things to the next level.  In Orlando, Fla., engineers are pushing the limits of rollercoasters using new structural engineering ideas.
			<br><br>

			The current tallest rollercoaster in the world is called Kingda Ka and is at Six Flags in New Jersey.  According to the Six Flags website, this roller coaster is 456 feet tall and reaches speeds of 128 miles per hour, but lasts under a minute. To be able to top this giant, engineers from US Thrill Rides have come up with new ideas to support tracks at higher heights and to create a longer journey for the riders.  The result of their efforts is the new roller coaster called "Skyscraper". <%= link_to ("Read more..."), news_path  %> 


				
		</div>
	</div>
</div>













