<div class = "slidearea">

	
	<div class="row-fluid">	
		<div class="span3">	
			This weeks feature video is:
			
			Other ideas about what to do on site.
			
		</div>
		<div class="span9">	
			<h3 class="logocolor">featured video</h3>
			<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/ozXquvURKlg" frameborder="0" allowfullscreen=""></iframe></div>
		</div>
	</div>
</div>













