
<div class = "slidearea">
	<div class="row-fluid">	
		<h3 class="logocolor">featured video</h3>
			<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/r0dMu9GJCk8" frameborder="0" allowfullscreen=""></iframe></div>
	</div>
</div>

<div id="footer">
<div class="row-fluid">
	<div class="span12">
		<span class="muted">&copy; 2013 - 2025 Labs LLC</span>				
	</div> <!--span12-->
</div> <!--row-->
</div>











