<div class = "slidearea">
	<div class="row-fluid">	
		<div class="span8">
			<div class="logo_mainbkgd">
				<span class="catagoryandtopic" > featured video </span>
			</div>

			<div class="row-fluid">
				
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/kWsXIIqVy_Q" frameborder="0" allowfullscreen=""></iframe></div>
				
			</div>
		</div>


		<div class="span4">	
			<div class="logo_mainbkgd"> 
				<span class="catagoryandtopic" > engineering in the
				<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
			</div>
			
			<div class="eitn_title">3D Print It: From Plastic to Metal to Food!</div>

			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			January 13, 2015 
			<br><br>

			3D printing is letting engineers be creative in ways they never have before!  3D printing uses soft materials pushed through a small moving tip to build shapes and objects.  This has allowed for the faster and cheaper making of many items.  3D printing is being used by scientists, engineers and even kids like you!   
			<br><br>

			 The main material being using in 3D printing right now is plastic.  Plastic is a cheap material that can easily be made soft and hard by the printer.  This made plastic a good choice for people to start out 3D printing.
			<br><br>
			
			One way engineers are helping the world with 3D printing is making cheaper and different kinds of prosthetic limbs.  Prosthetic limbs are given to people that have lost or were born without an arm, leg, etc.   <%= link_to ("Read more..."), news_path  %> 


				
		</div>
	</div>
</div>













