<div class = "slidearea">

	
	<div class="row-fluid">	
		
		<div class="span8">
			<div class="logo_mainbkgd">
				<span class="catagoryandtopic" > featured video </span>
		
			</div>

			<div class="row-fluid">
				<div class = "span2">
					
					Did you ever wonder how things get invented? Like, how did anyone figure out how to make a car or an airplane? Watch this video to learn more about how engineers build on past discoveries and inventions to create new technological breakthroughs.	
				</div>
				
				<div class="span10" >	
			
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/ozXquvURKlg" frameborder="0" allowfullscreen=""></iframe></div>
				</div>
			</div>
		</div>


			<div class="span4">	
			<div class="logo_mainbkgd"> 
				<span class="catagoryandtopic" > engineering in the news</span>
				<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), "#"  %> 

			</div>
			
			<div class="eitn_title">Failure Analysis: Learning from our Mistakes</div>
			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>


			We have all had times when we have experienced failure.  Everything can’t go perfectly all the time.  Engineering is no exception.  Mistakes are just as much a part of the engineering field as success.  No major discovery or success can be made without months or years of trial and error. The important thing is that we learn from our failure, so we don't make the same mistakes again. In engineering, this is done through failure analysis.

			<br><br>
			Scientist and engineers are using failure analysis right now on two different spacecraft that failed in the past few weeks.  The first spacecraft was an unmanned rocket that blew up just seconds after takeoff.  This rocket was meant to bring supplies up to astronauts in the space station.
			<br><br>

			<%= image_tag("launch-pad-looking-south-after-failure copy.jpg") %>
			<span class="eitn_caption">An aerial view of the Wallops Island launch facilities taken by the Wallops Incident Response Team Oct. 29 following the failed launch attempt of Orbital Science Corp.'s Antares rocket Oct. 28. Image Credit: NASA/Terry Zaperach. </span>
			<br><br>
			The second spacecraft was a space plane that was supposed to be used for space tourism in the future.  The space plane, created by Virgin Galactic, exploded over the desert during a test flight. 

			<br><br>
			Just minutes after both of these crashes occurred, engineers had to put asside their disappointment and sadness and begin to look at what went wrong. To figure out what went wrong with the rocket, engineers will have to mainly use video and data they took during the launch since the explosion destroyed a large amount of rocket.  This is where engineers have to use their problem-solving skills and adapt to fit the situation.

			<br><br>
			For the space plane, more information is available since parts of the plane were able to be collected.  This plane was still going through testing, so lots of data was being taken.   According to the BBC, one possible cause of the crash was a special part of the tail of the plane coming out too early. These tails make the plane slow down.  This was discovered through failure analysis. 
			<br><br>

			Since both of these accidents occurred recently, engineers are not yet exactly sure what happened to cause them.  In the weeks or months to come, engineers will continue to perform failure analysis and to find the causes of the accidents and how to prevent them in the future.  We must learn from our mistakes and use them to help make our technology better and safer.

		</div>


	
	</div>
</div>













