<div class = "slidearea">
	<div class="row-fluid">	
		<div class="span8">
			<div class="logo_mainbkgd">
				<span class="catagoryandtopic" > featured video </span>
			</div>

			<div class="row-fluid">
				<div class = "span2">
					
					Did you ever wonder how things get invented? Like, how did anyone figure out how to make a car or an airplane? Watch this video to learn more about how engineers build on past discoveries and inventions to create new technological breakthroughs.	
				</div>
				
				<div class="span10" >	
					<div class="flex-video widescreen"><iframe src="//www.youtube.com/embed/ozXquvURKlg" frameborder="0" allowfullscreen=""></iframe></div>
				</div>
			</div>
		</div>


		<div class="span4">	
			<div class="logo_mainbkgd"> 
				<span class="catagoryandtopic" > engineering in the news</span>
				<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> 
			</div>
			
			<div class="eitn_title">Innovation: Where No Man Has Gone Before</div>

			<div class="eitn_author">By ERIN WINICK, President, University of Florida Society of Women Engineers and Mechanical Engineering Student</div>

			December 1, 2014
			<br><br>

			Space is something that has interested humans for centuries and has inspired humans to innovate. Innovation is the process of making something new based on something old.  Innovations improve on current knowledge and help make it better. For 30 years, NASA used the space shuttle to send astronauts into space.  According to NASA, they had five space shuttles that flew over a 130 missions. These shuttles helped build and bring supplies to the International Space Station. 
			<br><br>

			 Now we have our sights set on something bigger.  NASA is now moving into a new chapter of manned space travel.  This Thursday, the new innovative Orion spacecraft will launch on a Delta IV Heavy rocket. This will be a test flight without any humans inside, but there will be many machines looking at how well Orion works. <%= link_to ("Read more..."), news_path  %> 


				
		</div>
	</div>
</div>













