<div class="logo_mainbkgd">
	<span class="catagoryandtopic" >Available from 2025 Labs</span>
	<%= link_to image_tag("navgraphics/news_icon.png", :class=>'navbuttons'), news_path  %> </span>
	<%= link_to image_tag("navgraphics/project_icon.png", :class=>'navbuttons'), projects_path  %> 
	<%= link_to image_tag("navgraphics/characters_icon.png", :class=>'navbuttons'), characters_path  %>
	</div> <!-- background -->

<div class = "slidearea">


	<div class ="row-fluid" style="padding-bottom:20px; padding-top:10px; border-bottom: 1px solid #d9d9d9;">
		<div class="span8">
			<span class="mainpage_title">New Magazine!</span><br>
			<span class="projects_title">2025 Kids Engineering in the News&#8482; Magazine</span>
				<br> November 2015 Preview Issue:<br><br>

			<div class="imageleftlarge" style="margin-left:20px">
				<%= link_to image_tag("projects_images/FrontPageImage.png", :class=>'navbuttons'), "2025Kids_Nov_2015_PreviewIssue_web.pdf"  %> 	
			</div>	<!-- class -->
		</div> <!-- span 8 -->
		
		<div class="span4">	
</div> <!-- span 4 -->
		
 	</div> <!-- row -->

	


<div class="row-fluid", style= "padding-top:10px; padding-bottom:10px; ">	

</div>
</div> <!-- slidearea -->