<ul class="nav nav-pills pull-right">
  <!-- <li class="active"><a href="#">Home</a></li> -->
  <li><%=link_to "slideshow", topic_path %></li>
  <li><%=link_to "activity", activity_topic_path %></li>
  <li><%=link_to "quiz", quiz_topic_path %></li>
  <li><%=link_to "learn more", learnmore_topic_path %></li>


</ul>