@import "bootstrap";


/* defining the colors*/
$logo_color: #FF1F00;
$possible_color: #21B6A5;
$slide_title: #FF1F00;
$slide_text: #a1a1a1;
$engineering_process_color: #1A9CD6;
$materials_color: #A05CAC;
$structures_color: #139F9D;
$machines_color: #A3D147;
$energy_color: #F59A00;
$computing_color: #F74D9C;


/* padding used throughout to get spacing correct*/

.indexnav{
	padding-bottom:20px;
}

.navgraph{
	padding-bottom:7px;
}

.topnav{
	float:left;
	padding-top:7px;
	padding-bottom:7px;
}


/* this is the color of the gray txt on home page*/
.toptext{

	color: #c6c6c6;
	font-size: 26px;
	line-height: 30px;

}

.cattext{

	float:right;
	padding-top:7px;
	padding-bottom:7px;

}

.slidearea{
	background-color: #f2f2f2;
	padding:20px;
}



/* these are the styles for the slide shows*/
.title {
	font-size: 24px;
	line-height: 35px;
}

.desc {
	color: $slide_text ;
	font-size: 16px;
	line-height: 24px;
}

/* colors for text to align with catagories*/
.engineering_process{
	color:$engineering_process_color;
}

.materials{
	color:$materials_color;
}

.structures{
	color:$structures_color;
}

.machines{
	color:$machines_color;
}

.energy{
	color:$energy_color;
}

.computing{
	color:$computing_color;
}


/* In order to get the links to be colored with the catagory colors you have to use the a link formatting, so that's what this sectin is all about*/
a:link {
	text-decoration:none;
	color: #0099cc;
}

a:visited {
	text-decoration:none;
}
	
a:hover {
	text-decoration:none;
	color: #a1a1a1;
}

a:active {
	text-decoration:none;
}

a.engineering_process:link {
	color: $engineering_process_color;
}
a.materials:link {
	color: $materials_color;
}
a.structures:link {
	color: $structures_color;
}
a.machines:link {
	color: $machines_color;
}
a.energy:link {
	color: $energy_color;
}	
a.computing:link {
		color: $computing_color;
}


/* Copyright (c) 2011 ZURB, http://www.zurb.com/ */	
.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	  .flex-video { padding-top: 0; }
	}
	