@import "bootstrap";


.circlebuttons{
	float:right;
	padding-left:10px;
	padding-bottom:10px;
}

.topnav{
	float:left;
	padding-bottom:10px;
	padding-top:20px;
}

.navgraph{
	padding-bottom:7px;
	

}

.catnav{
	float:right;
	padding-bottom:7px;
	padding-left:7px;

}

.topicnav{
	float:left;
	padding-bottom:7px;
	padding-left:7px;

}

