<div id="footer">
	<div class="row-fluid">
		<div class="span10" style="padding-right:20px; border-right: 1px solid #fff;">
	
			<span class="muted">&copy;2014 2025 Labs LLC</span>
				<br>
				<br>
				<br>
				<br>
				<br>
		</div>
		<div class="span2">
			<%= image_tag("kidstack_footer_squares100x100.png") %>
		</div>				
	</div>
</div> <!--row-->
</div>