<div class="footer">
	
<div class="row-fluid" style="padding-top:5px; border-top: 1px solid #d9d9d9;">
	

	
	<div class="row-fluid" style="padding-bottom:1px">
	<div class="span2">
		<a href="http://www.2025labs.com" target="_blank"><%= image_tag("2025Labs_logo_600.png", :alt =>"2025Lab logo") %></a>
	</div>

	<div class="span3">
		<br>
	</div>

	<div class="span6">
		<br>
			<span class='copyright_statement'>&copy;2015 2025Labs      </span>
	</div>
	
	<div class="span1">
		<%= link_to image_tag("kidstack_footer_squares60x60.png", :alt =>"kidstack squares", :class => "bottomsquares"), root_path %>
	</div>	


			
</div>


</div>

