<div id = "footer"> 
	<div class = "container-fluid">
		
	
		<div class="row-fluid">
			
			<div class="span2" style = "text-align:left">
		
				<a class ="footheader1"  <a href="http://www.2025kids.com/catagories/Engineering%20Process">Eng. Process</a>
				<br>

				<a class ="footsub1" <a href="http://www.2025kids.com/topics/design%20process">Design Process</a>
				<br>
				
				<a class ="footsub1" <a href="http://www.2025kids.com/topics/innovation%20process">Innovation Process</a>
				<br>

				<a class ="footsub1" <a href="http://www.2025kids.com/topics/failure%20analysis">Failure Analysis</a>
				<br>

				<a class ="footsub1" <a href="http://www.2025kids.com/topics/reverse%20engineering">Reverse Engineering</a>

			</div>

			

			<div class="span2" style = "text-align:left">
		
				<a class ="footheader2" <a href="http://www.2025kids.com/catagories/Materials">Materials</a>
				<br>

				<a class ="footsub2" <a href="http://www.2025kids.com/topics/behaviors%20and%20properties">Behaviors and Properties</a>
				<br>
				
				<a class ="footsub2" <a href="http://www.2025kids.com/topics/steel">Steel</a>
				<br>

				<a class ="footsub2" <a href="http://www.2025kids.com/topics/glass">Glass</a>
				<br>

				<a class ="footsub2" <a href="http://www.2025kids.com/topics/plastics">Plastics</a>
				<br>

				<a class ="footsub2" <a href="http://www.2025kids.com/topics/concrete">Cement and Concrete</a>
				<br>

				<a class ="footsub2" <a href="http://www.2025kids.com/topics/silicon">Silicon</a>

			</div>

			<div class="span2" style = "text-align:left">
		
				<a class ="footheader3" <a href="http://www.2025kids.com/catagories/Structures">Structures</a>
				<br>

				<a class ="footsub3" <a href="http://www.2025kids.com/topics/forces">Forces</a>
				<br>
				
				<a class ="footsub3" <a href="http://www.2025kids.com/topics/bridges">Bridges</a>
				<br>

				<a class ="footsub3" <a href="http://www.2025kids.com/topics/skyscrapers">Skycrapers</a>
				
			</div>


			<div class="span2" style = "text-align:left">
		
				<a class ="footheader4" <a href="http://www.2025kids.com/catagories/Machines">Machines</a>
				<br>

				<a class ="footsub4" <a href="http://www.2025kids.com/topics/simple%20machines">Simple Machines</a>
				<br>
				
				<a class ="footsub4" <a href="http://www.2025kids.com/topics/motorsandengines">Motors and Engines</a>
				<br>

				<a class ="footsub4" <a href="http://www.2025kids.com/topics/friction">Friction</a>
				<br>

				<a class ="footsub4" <a href="http://www.2025kids.com/topics/bikesandcars">Bikes and Cars</a>
				<br>

				<a class ="footsub4" <a href="http://www.2025kids.com/topics/robotics">Robotics</a>

			</div>

			<div class="span2" style = "text-align:left">
		
				<a class ="footheader5" <a href="http://www.2025kids.com/catagories/Energy">Energy</a>
				<br>

				<a class ="footsub5" <a href="http://www.2025kids.com/topics/energy%20sources">Energy Sources</a>
				<br>
				
				<a class ="footsub5" <a href="http://www.2025kids.com/topics/energy%20conversion">Converting Energy</a>
				<br>

				<a class ="footsub5" <a href="http://www.2025kids.com/topics/electricgrid">The Electric Grid</a>
				<br>

				<a class ="footsub5" <a href="http://www.2025kids.com/topics/energy%20storage">Energy Storage</a>

			</div>

			<div class="span2" style = "text-align:left">
		
				<a class ="footheader6" <a href="http://www.2025kids.com/catagories/Computing">Computing</a>
				<br>

				<a class ="footsub6" <a href="http://www.2025kids.com/topics/programming%20languages">Programming Language</a>
				<br>
				
				<a class ="footsub6" <a href="http://www.2025kids.com/topics/anatomy%20of%20a%20computer">Anatomy of a Computer</a>
				
				
			</div>
		</div>

			<div class ="row-fluid2">


			<div class="span6" style="text-align:left">
		
				<a href="http://www.2025labs.com" target="_blank"><img alt="2025Labs Logo" src="/assets/2025_logo_noback.png"></a>
				<br>
				<span class = "muted"> Copyright ©, 2016 - 2025 Labs LLC</span>
			</div>
			</div>
		</div>

</div>

