<div class="footer">

<div class="row-fluid" style="padding-top:20px; border-top: 1px solid #d9d9d9;">
	<div class="span10">
		<span class="muted">&copy;2014 2025 Labs LLC</span>
		<br><br><br><br><br>
		</div>
	<div class="span2">
		<%= image_tag("kidstack_footer_squares100x100.png", :class=>'bottomsquares') %>
	</div>				
</div>
</div>

